.container{
    overflow: hidden;
}

.content{
    display:grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    width: calc(200px * 3);
    transition: transform .6s ease-in-out;
}



@media (max-width:590px){
    .content{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
